<head>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<meta charset="utf-8">
</head>
<div class="footer">
	<div class="bg-primary">
            <div class="container">
                <div class="row py-4">
                    <div class="col-md-6 col-lg-7">
                        <h4 class="mb-0 white-text">Connectez-vous avec nous sur les réseaux sociaux!</h4>
                    </div>
                    <div class="col-md-6 col-lg-5 text-right">
                        <a><i class="fab fa-facebook white-text mr-lg-4 fa-2x"> </i></a>
                        <a><i class="fab fa-twitter white-text mr-lg-4 fa-2x"> </i></a>
                        <a><i class="fab fa-google-plus white-text mr-lg-4 fa-2x"> </i></a>
                        <a><i class="fab fa-linkedin white-text mr-lg-4 fa-2x"> </i></a>
                        <a><i class="fab fa-instagram white-text mr-lg-4 fa-2x"> </i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid"><br>
            <p class="text-center m-0 py-1">
                Calée Groupe 
            </p>
        </div>
</div>
