<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="aide">
            <h2><span jhiTranslate="hopitalApp.aide.detail.title">Aide</span> {{aide.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hopitalApp.aide.description">Description</span></dt>
                <dd>
                    <span>{{aide.description}}</span>
                </dd>
                <dt><span jhiTranslate="hopitalApp.aide.user">User</span></dt>
                <dd>
                    {{aide.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/aide', aide.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
