<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="facture">
            <h2><span jhiTranslate="hopitalApp.facture.detail.title">Facture</span> {{facture.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hopitalApp.facture.description">Description</span></dt>
                <dd>
                    <span>{{facture.description}}</span>
                </dd>
                <dt><span jhiTranslate="hopitalApp.facture.montant">Montant</span></dt>
                <dd>
                    <span>{{facture.montant}}</span>
                </dd>
                <dt><span jhiTranslate="hopitalApp.facture.user">User</span></dt>
                <dd>
                    {{facture.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/facture', facture.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
