<div>
    <h2 id="page-heading">
        <span jhiTranslate="hopitalApp.facture.home.title">Factures</span>
        
            
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-facture"
                        [routerLink]="['/facture/new']" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span jhiTranslate="hopitalApp.facture.home.createLabel">
            Create new Facture
            </span>
                </button>
            
            
        
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="factures">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="hopitalApp.facture.description">Description</span></th>
                <th><span jhiTranslate="hopitalApp.facture.montant">Montant</span></th>
                <th><span jhiTranslate="hopitalApp.facture.user">User</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let facture of factures ;trackBy: trackId">
                <td><a [routerLink]="['/facture', facture.id, 'view' ]">{{facture.id}}</a></td>
                <td>{{facture.description}}</td>
                <td>{{facture.montant}}</td>
                <td>
                    {{facture.user?.login}}
                </td>
                <td class="text-right" >
                    <div class="btn-group flex-btn-group-container" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <button type="submit"
                                [routerLink]="['/facture', facture.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/facture', facture.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'facture/'+ facture.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
